<link
  rel="stylesheet"
  href="<%=locals.assetPath('navbar_styles.css', 'css')%>"
/>

<nav>
  <a href="/" class="nav-brand">
    <img src="<%=locals.assetPath('rating.png', 'images')%>" alt="logo" />
    <span>ER System</span>
  </a>

  <% if(!locals.user) { %>
  <ul>
    <li>
      <a href="/users/signin">Sign In</a>
    </li>
    <li>
      <a href="/users/signup">Sign Up</a>
    </li>
  </ul>
  <% } else if(locals.user.employee === null) { %>
  <ul>
    <li class="greet-user">
      <a href="/"> Welcome <%=locals.user.firstname%> </a>
    </li>
    <li>
      <a href="/users/logout">Logout</a>
    </li>
  </ul>
  <% } else if(locals.user.employee !== null && locals.user.employee.isAdmin ===
  false) { %>
  <ul>
    <li class="greet-user">
      <a href="/"> Welcome <%=locals.user.firstname%> </a>
    </li>

    <li>
      <a href="/users/logout">Logout</a>
    </li>
  </ul>
  <% } else if(locals.user.employee !== null && locals.user.employee.isAdmin ===
  true) { %>
  <ul>
    <li class="greet-user">
      <a href="/"> Welcome <%=locals.user.firstname%> </a>
    </li>
    <li>
      <a href="/employee/all-employees">Employees</a>
    </li>
    <li>
      <a href="/employee/add-employee"> Add Employee </a>
    </li>
    <li>
      <a href="/feedbacks/assign-task"> Assign-Task </a>
    </li>
    <li>
      <a href="/feedbacks">Feedbacks</a>
    </li>
    <li>
      <a href="/users/logout">Logout</a>
    </li>
  </ul>
  <% } %>

  <div class="nav-btns">
    <button id="theme-toggler">
      <img src="<%=locals.assetPath('moon.png', 'images')%>" alt="" />
      <span>Night</span>
    </button>
    <button id="sidebar-toggler">
      <i class="fa-solid fa-bars"></i>
    </button>
  </div>
</nav>
