<link rel="stylesheet" href="/css/responsive_table.css" />
<main>
  <table>
    <caption>
      Registered Users
    </caption>
    <thead>
      <tr>
        <th scope="col">Email</th>
        <th scope="col">Name</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <% if (locals.registeredUsers.length === 0) { %>
      <h1>Nothing to show here !!</h1>
      <% } %> <% locals.registeredUsers.map(user => { %>
      <tr id="user-<%=user._id%>">
        <td scope="row" data-label="Email"><%=user.email%></td>
        <td data-label="Name"><%=user.firstname%> <%=user.lastname%></td>
        <td data-label="Action">
          <a href="/employee/add/<%=user._id%>" class="add-employee-btn"
            >Add To Employee</a
          >
        </td>
      </tr>
      <% }) %>
    </tbody>
  </table>
</main>
