<link rel="stylesheet" href="/css/all-employees.css" />
<main>
  <div class="employees-container">
    <% if (locals.allEmployees.length === 0) { %>
    <h1>Nothing to show here !!</h1>
    <% } %> <% locals.allEmployees.map(employee => { %>
    <div class="card" id="employee-<%=employee._id%>">
      <div class="card-heading">
        <h2>Employee</h2>
        <a
          href="/employee/remove/<%=employee._id%>"
          class="remove-employee-btn"
        >
          <i class="fa-solid fa-trash"></i>
        </a>
      </div>
      <div class="card-content">
        <form
          action="/employee/update/<%=employee._id%>"
          method="POST"
          class="employee-update-form"
        >
          <div>
            <label for="email">Email</label>
            <input
              type="email"
              name="email"
              id="email"
              placeholder="<%=employee.user.email%>"
            />
          </div>
          <div>
            <label for="firstname">Firstname</label>
            <input
              type="text"
              name="firstname"
              id="firstname"
              placeholder="<%=employee.user.firstname%>"
            />
          </div>
          <div>
            <label for="astname">Lastname</label>
            <input
              type="text"
              name="lastname"
              id="lastname"
              placeholder="<%=employee.user.lastname%>"
            />
          </div>
          <!-- Rounded switch -->
          <div>
            <span>Is Admin</span>
            <label class="switch">
              <input type="checkbox" name="isAdmin" <%=employee.isAdmin ?
              'checked' : ''%>/>
              <span class="slider round"></span>
            </label>
          </div>

          <button type="submit">Update</button>
        </form>
      </div>
    </div>
    <% }) %>
  </div>
</main>
