<link rel="stylesheet" href="/css/feedbacks.css" />
<main>
  <div class="feedbacks-list">
    <% if(locals.feedbacks.length === 0) { %>
    <h1>Nothing to show here</h1>
    <% }%> <% locals.feedbacks.map(feed => { %>
    <div class="card" id="card-<%=feed._id%>">
      <div class="reviewer-info">
        <h2>Reviewer</h2>
        <p><span>Email:</span> <%=feed.reviewer.user.email%></p>
        <p>
          <span>Name:</span> <%=feed.reviewer.user.firstname%>
          <%=feed.reviewer.user.lastname%>
        </p>
      </div>
      <div class="reviewee-info">
        <h2>Reviewee</h2>
        <p><span>Email:</span> <%=feed.reviewee.user.email%></p>
        <p>
          <span>Name:</span> <%=feed.reviewee.user.firstname%>
          <%=feed.reviewee.user.lastname%>
        </p>
      </div>

      <p>
        <span>Assigned By :</span> <%=feed.assignedBy.user.firstname%>
        <%=feed.assignedBy.user.lastname%>
      </p>

      <p><span>Status :</span> <%=feed.status%></p>

      <% if(feed.status === 'complete') { %>
      <p><span>Ratings :</span> ⭐<%=feed.rating%></p>
      <form action="/feedbacks/edit-review" method="post">
        <input type="hidden" name="feed" value="<%=feed._id%>" />
        <select name="editRatings">
          <option disabled hidden selected>Select</option>
          <% for(let i = 1; i <= 5; i++) { %>
          <option value="<%=i%>"><%=i%>⭐</option>
          <% } %>
        </select>
        <textarea name="editText" rows="5"><%=feed.text%></textarea>
        <div class="actions">
          <button type="submit">Edit</button>
          <button type="button" class="delete-feedback-btn" id="<%=feed._id%>">
            Delete
          </button>
        </div>
      </form>
      <% } %>
    </div>
    <% }) %>
  </div>
</main>

<script src="/scripts/feedback.js"></script>
